#modal-content {
  width: 90%;
  height: 65%;
  margin: 0 ;
  padding: 10px 20px ;
  border: 2px solid #aaa ;
  background: #fff ;
  position: fixed ;
  display: none ;
  z-index: 105 ;
}
body{
  display: none;
}
main {
  margin-top: 80px;
}



@media screen and (max-width:992px){
  nav {
    height: 100px;
    line-height: 100px;
  }
  main {
    margin-top: 120px;
  }
  .nav-wrapper > a i.material-icons {
    font-size: 3rem;
    left: 25%;
    z-index: 999;
  }
}


.mdl-card {
  float: left;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  width: 90%;
  height: 300px;
}
@media screen and (min-width:992px){
  .mdl-card {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5px;
    width: 43%;
  }

}

@media screen and (min-width:1200px){
  .mdl-card {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5px;
    width: 28%;
  }
  #modal-content {
    width: 60%;
    height: 65%;
    margin: 0 ;
    padding: 10px 20px ;
    border: 2px solid #aaa ;
    background: #fff ;
    position: fixed ;
    display: none ;
    z-index: 105 ;
  }
}

.mdl-card__supporting-text {
  height: 150px;
}

.mdl-card__title > .mdl-card__title-text {
  background-color: rgba(66, 66, 66, 0.6);
}

.mdl-card__title {
  color: #fff;
  height: 176px;
}

.nav-wrapper > ul {
  line-height:inherit;
}
nav ul a {
  opacity: 0.5;
}
nav {
  position: fixed;
  z-index: 100;
  background-color: inherit;
}


.nav-wrapper {
  background-color: rgba(40,53,147,0.8);
}

.mdl-layout__drawer > .mdl-layout-title {
  width: 200px;
  height: 50px;
  line-height: 50px;
}
.mdl-layout__drawer > a {
  margin-left: 190px;
  width: 40px;
  height: 40px;
}
.mdl-layout__drawer > a i {
  width: 40px;
  height: 40px;
  font-size: 3rem;
  color: #BDBDBD;
}
.mdl-layout__drawer{
  position: fixed;
  z-index: 101;
}
.train_a > .mdl-card__title{
  background: url('./30000.jpg') center / cover;
}
.train_b > .mdl-card__title{
  background: url('./16400.jpg') center / cover;
}
.train_c > .mdl-card__title{
  background: url('./7020.jpg') center / cover;
}
.train_d > .mdl-card__title{
  background: url('./21.jpg') center / cover;
}
.train_e > .mdl-card__title{
  background: url('./1020.jpg') center / cover;
}
.train_f > .mdl-card__title{
  background: url('./5800.jpg') center / cover;
}
.train_g > .mdl-card__title{
  background: url('./3200.jpg') center / cover;
}
.Vehicle {
    opacity: 1;
}

.routeimage{
  margin-top: 200px;
  margin-bottom: 400px;
  white-space: nowrap;
}
.routeimage img{
  width:15%;
}



.modal-overlay {
	z-index: 102 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}

.button-link {
	color: #00f ;
	text-decoration: underline ;
}

.button-link:hover {
	cursor: pointer ;
	color: #f00 ;
}

.background-train{
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width:100%;
  height:100%;
  z-index: 1;
}
